body {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(80, 233, 255, 1) 100%
  );
  padding-bottom: 150px; /* Add space for the subscription bar */
}

.cover-img {
  max-width: 90%;
  height: 80%;
  overflow: hidden;
}

.article-img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.article-img:hover {
  transform: scale(1.1);
}

.blog-wrap {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.2rem;
}

.blog-goBack {
  text-decoration: none;
  font-size: 0.8rem;
  color: #a9a9a9;
  font-weight: 500;
  margin-bottom: 2rem;
  display: block;
}
.blog-wrap header {
  text-align: center;
}

.blog-date {
  font-size: 0.8rem;
  color: #a9a9a9;
  font-weight: 500;
}

.blog-wrap img {
  width: 100%;
}

.blog-subCategory {
  display: flex;
  justify-content: center;
}
.blog-subCategory > div {
  margin: 1rem;
}
.blog-desc {
  padding: 1rem;
  margin-top: 1.5rem;
}
.code {
  padding: 2%;
  background-color: black;
  color: white;
  max-width: 100%;
  overflow: auto;
}

.code-div {
  padding-top: 1%;
}
pre {
  max-width: 100%;
}
.article-img {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
